header{
    background-color: #FCFFA6;
    color:black;
    text-align: center;
    display: grid;
}
nav{
    background-color: #C1FFD7;
    display: grid; 
}
section{
    background-color: #B5DEFF;
    grid-column: 1/3;
    display: grid;
}
aside{
    background-color: #CAB8FF;
    grid-column: 3/4;
    display: grid;
}
footer{
    background-color: #F7F7F7;
    display: grid;   
}
main{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}
.centrado{
    text-align: center;
}
.justificado{
    text-align: justify;
}
.img{
    display: block;
    margin: auto;
}
.nav-bk3{
    background: #00F260;  
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
    background: linear-gradient(to right, #0575E6, #00F260); 
    
    }